{% macro appLinks(apps, footerGroup, limit, hubPath) %}
  {% for app in (apps | filterGroup(footerGroup, limit)) %}
    <li><a href="{{ app.path }}">{{ app.name }}</a></li>
  {% endfor %}
  {% if hubPath %}
    <li class="footer-view-all"><a href="{{ hubPath }}">View all →</a></li>
  {% endif %}
{% endmacro %}
