<div id="whats-new-popup" class="whats-new-popup" style="display: none;">
    <div class="whats-new-header">
        <h3 id="whats-new-title">🚀 What's New!</h3>
        <button id="whats-new-close" class="close-button">&times;</button>
    </div>
    <div id="whats-new-content" class="whats-new-content">
        <p>We've been busy! Check out the latest features we've added to make your meetings more fun and productive.</p>
        <p>See what's new in our <a href="/apps/whats-new">latest update</a>.</p>
    </div>
</div>
